@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: #1b1d1e;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: snow;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table, th, td {
  border: 1px solid;
}

h1, footer{
    width: 100%
}

footer{
    margin-top: 5%
}